.article-list__wrapper {
    box-sizing: border-box;
}

.article_list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1400px;
}

.no-articles-found {
    text-align: center;
    font-size: 22px;
}

@media (min-width: 768px) {
    .article-list__wrapper {
        padding: 64px 0 32px 0;
    }
}
