.modal__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    background: rgba(0, 0, 0, 0.5);
}

.modal {
    position: relative;
    box-sizing: border-box;
    margin: 24px;
    padding: 0;
    max-height: calc(100vh - 48px);
    max-width: 768px;
    flex: 0 1 768px;
    background: #FFF;
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    overflow: visible;
    border-radius: 4px;
}

.modal__close-btn {
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 2px;
    width: 24px;
    height: 24px;
    font-size: 20px;
    position: absolute;
    right: -24px;
    top: -24px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.25);
    color: rgba(185, 185, 185, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    font-size: 18px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.modal__close-btn:hover {
    color: rgba(201, 201, 201, 1);
    background: rgba(255, 255, 255, 0.15);
}
