.footer {
    width: 100%;
    text-align: center;
    padding: 16px 0;
    margin: 0;
    color: gray;
    font-size: 14px;
    background: #EEE;
}

.footer__link,
.footer__link:active,
.footer__link:visited {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.footer__link:hover {
    color: darkgray;
    text-decoration: underline;
}
