.footer {
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: gray;
    font-size: 14px;
    background: #EEE;
}

.footer__link {
    padding: 0 0.5em;
}

.footer__link,
.footer__link:active,
.footer__link:visited {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.footer__link:hover {
    color: darkgray;
    text-decoration: underline;
}

@media (min-width: 768px) {
    .footer {
        position: fixed;
        bottom: 0;
    }
}
